node_modules
node_modules/*
public/uploads
*/.DS_Store
**/*/.DS_Store

public/assets
public/assets/*

builtAssets
builtAssets/*

.DS_Store

yarn-error.log
**/*.log

*Zone.Identifier

.vscode

dump.rdb
**/dump.rdb

.cloudflared
.idea/*

.next
.next/*

.git
.git/*

.vscode
.vscode/*
.github
.github/*

test
test/*

.env
dump.rdb